* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
    --background: #141414;
    --text-color: #fff;
    --primary-color: #63ff69;
    --secondary-color: #000;
    --alpha-color: rgba(0, 0, 0, 0.5);
    --shadow: 0 15px 40px var(--alpha-color);
}
@media (min-width: 1200px) {
    ::-webkit-scrollbar {
        width: 10px;
        background: var(--secondary-color);
    }
    ::-webkit-scrollbar-thumb {
        width: 10px;
        border-radius: 5px;
        background: var(--primary-color);
    }
}
html {
    background: var(--background);
    display: flex;
    justify-content: center;
}
i,
span {
    cursor: pointer;
}
body {
    width: 100%;
    height: 100vh;
    max-width: 375px;
    position: relative;
    background: var(--background);
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    user-select: none;
}

/*home section */

.centrar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-section {
    width: 100%;
    padding: 10px;
    height: 100%;
    padding-bottom: 100px;
    overflow-y: auto;
    padding-bottom: 190px;
}

/* carousel */

.carousel {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-shadow: var(--shadow);
}
.carousel img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 1s;
}
.carousel img.active {
    opacity: 1;
}
.heading {
    margin: 30px 0 10px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

/* playlist-card */

.playlists-group {
    position: relative;
    width: 100%;
    min-height: 200px;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.playlist-card {
    flex: 0 0 auto;
    max-width: 150px;
    width: 100%;
    height: 100%;
    margin-left: 20px;
}

.playlist-card:nth-last-child(5) {
    margin-left: 10px;
}
.playlist-card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
}
.playlist-card-name {
    width: 100%;
    text-align: justify;
    font-size: 20px;
    text-transform: capitalize;
    padding: 5px;
}

/* music-player-section */

/* minimize view */

.music-player-section {
    max-width: 372px;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    background: var(--alpha-color);
    backdrop-filter: blur(50px);
    transition: 0.5s;
}
.music-seek-bar {
    appearance: none;
    width: 100%;
    position: absolute;
    top: -4px;
    height: 8px;
    background: var(--secondary-color);
    overflow: hidden;
}
.music-seek-bar::-webkit-slider-thumb {
    appearance: none;
    height: 10px;
    width: 5px;
    background: var(--primary-color);
    cursor: pointer;
    box-shadow: -900px 0 0 900px var(--primary-color);
}
.current-song-name {
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    width: fit-content;
    margin: 0 auto;
}
.controls {
    position: relative;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 30px;
}
.controles__cambio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 10px;
}
.controls span {
    display: none;
    opacity: 0;
    transition: 0.3s;
}
.bx-repost {
    position: relative;
}
.music-player-section.active .controls span .uno {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    font-weight: bold;
}
.music-player-section.active .controls span .uno.replay {
    display: block;
}
.music-player-section.active .controls {
    justify-content: space-between;
    margin: 40px 0 40px;
}
.music-player-section.active .controls span {
    font-size: 30px;
    display: block;
    opacity: 0.6;
}
.music-player-section.active .controls span.active {
    color: var(--primary-color);
    opacity: 1;
}
.music-player-section.active .controls span.color {
    color: var(--primary-color);
    opacity: 1;
}
.controls .main i {
    margin: 0 5px;
    display: none;
}
.controls .main i.active {
    display: inline;
}

/* minimize music player styles */

.music-player-section .hide {
    display: none;
    opacity: 0;
    /* transition: 0.5s; */
}
/*  */
.music-player-section.active .hide,
.music-player-section.active .contenedor__imagen {
    display: block;
    opacity: 1;
}
.music-player-section.active .controls {
    padding-top: 50px;
    padding-bottom: 20px;
}
.music-player-section.active {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.music-player-section.active .music-seek-bar {
    position: relative;
    display: block;
    border-radius: 50px;
    margin: auto;
    margin-top: 50px;
}
.music-player-section.active .current-song-name {
    font-size: 40px;
    margin: 0;
}
.music-player-section.active .controls {
    width: 100%;
    font-size: 50px;
}
.artist-name {
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
}
.contenedor__imagen {
    width: fit-content;
    height: 300px;
    margin: auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: var(--shadow);
    display: none;
}
.cover {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: contain;
    padding: 5px;
}
.current-time {
    position: absolute;
    margin-top: 5px;
    left: 12px;
}
.duration {
    position: absolute;
    margin-top: 5px;
    right: 15px;
}
.icon {
    font-size: 50px;
}
.botonArriba {
    position: fixed;
    border-radius: 10px;
    transform: rotate(90deg);
    font-size: 40px;
    cursor: pointer;
    bottom: 116px;
    margin-left: 10px;
    color: var(--primary-color);
    background: var(--secondary-color);
    box-shadow: var(--shadow);
}
audio {
    display: none;
}
/* volume-slider */

.volume-slider {
    appearance: none;
    width: 100px;
    height: 22px;
    position: absolute;
    right: -32px;
    bottom: 90px;
    transform: rotate(-90deg);
    border-radius: 20px;
    background: var(--alpha-color);
    overflow: hidden;
    display: none;
    opacity: 0;
    transition: 0.5s;
}
.music-player-section.active .volume-slider.active {
    opacity: 1;
    display: block;
}
.volume-slider::-webkit-slider-thumb {
    appearance: none;
    height: 40px;
    width: 10px;
    background: var(--primary-color);
    box-shadow: -200px 0 1px 200px var(--primary-color);
}

/* playlist */

.playlist {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    padding: 30px 0;
    z-index: 3;
    transition: 0.5s;
    overflow: auto;
    backdrop-filter: blur(50px);
}
.playlist.active {
    right: 0;
}
.title {
    width: 100%;
    font-weight: 300;
    font-size: 40px;
    padding: 0 30px;
    margin-bottom: 30px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.queve {
    width: 100%;
    height: 80px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    border-top: 2px solid var(--alpha-color);
    cursor: pointer;
}
.queve:hover {
    background: rgba(30, 255, 0, 0.118);
    backdrop-filter: blur(100px);
}
.queve:active {
    background: rgba(30, 255, 0, 0.118);
    backdrop-filter: blur(100px);
}
.queve-cover {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
    position: relative;
    transition: 1s;
}
.queve-cover:hover {
    transform: scale(1.1);
}
.queve-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.queve-cover i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: var(--primary-color);
    display: none;
}
.queve.active i {
    display: block;
}
.queve .name {
    font-size: 14px;
    text-transform: capitalize;
}
.heading {
    font-size: 26px;
}
.contendor__titulo {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.music-player-section.active .current-song-name {
    font-size: 17px;
}
.artist-name {
    margin-top: 20px;
    font-size: 15px;
}
.title {
    font-size: 18px;
}
.music-player-section.active {
    padding: 2%;
}
.music-player-section.active .controls .main {
    margin-right: 32px;
}
.controls .main i {
    font-size: 50px;
}

@media (min-width: 715px) {
    .heading {
        font-size: 26px;
    }
    .music-player-section.active .current-song-name {
        font-size: 20px;
    }
}
@media (min-width: 547px) {
    .heading {
        font-size: 26;
    }
    .music-player-section.active .current-song-name {
        font-size: 26px;
    }
    .title {
        font-size: 30px;
    }
    .queve .name {
        font-size: 19px;
    }
}

@media (min-width: 372px) {
    html {
        background: var(--background);
        display: flex;
        justify-content: center;
    }
    i,
    span {
        cursor: pointer;
    }
    body {
        width: 100%;
        height: 100vh;
        max-width: 1277px;
        position: relative;
        background: var(--background);
        font-family: "roboto", sans-serif;
        color: var(--text-color);
        user-select: none;
        margin: auto;
        padding: 20px 0;
        padding-bottom: 70px;
    }

    /*home section */
    .centrar {
        width: 100%;
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .home-section {
        width: 100%;
        padding: 10px;
        height: 100%;
        padding-bottom: 150px;
        overflow-y: auto;
    }

    /* carousel */

    .carousel {
        width: 100%;
        height: 400px;
        overflow: hidden;
        border-radius: 20px;
        box-shadow: var(--shadow);
        position: relative;
    }
    .carousel img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        transition: 1s;
    }
    .carousel img.active {
        opacity: 1;
    }
    .heading {
        margin: 50px 0 50px;
        font-weight: 400;
        font-size: 30px;
        text-align: center;
    }

    /* playlist-card */

    .playlists-group {
        align-items: center;
        justify-content: center;
    }
    .playlist-card {
        flex: 0 0 auto;
        max-width: 180px;
        width: 100%;
        height: 100%;
        margin-left: 50px;
    }
    .playlist-card-img {
        width: 100%;
        height: 150px;
    }

    .centrar {
        padding-top: 60px;
    }

    /* music-player-section */

    /* minimize view */

    .music-player-section {
        max-width: 1273px;
    }
    .artist-name {
        margin: 30px 0;
    }
}

@media (max-width: 1152px) {
    /* playlist-card */

    .playlists-group {
        width: 699px;
        align-items: center;
        justify-content: center;
    }
    .playlist-card:nth-last-child(5) {
        margin-left: 450px;
    }
    ::-webkit-scrollbar {
        display: block;
        background: var(--background);
        width: 1px;
        height: 1px;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
        width: 1px;
        height: 1px;
        border-radius: 5px;
        background: #63ff69;
    }
}
@media (max-width: 733px) {
    /* playlist-card */

    .playlists-group {
        width: 426px;
        align-items: center;
        justify-content: space-between;
    }
    .playlist-card:nth-last-child(5) {
        margin-left: 0;
    }
}
@media (max-width: 439px) {
    .playlist-card-name {
        font-size: 16px;
        display: contents;
    }
    /* playlist-card */

    .playlists-group {
        width: 406px;
        justify-content: space-evenly;
    }
    .playlist-card {
        max-width: 120px;
        margin-left: 20px;
    }
    .playlist-card:nth-last-child(5) {
        margin-left: 280px;
    }
    .playlist-card-img {
        width: 100%;
        height: 100px;
    }
}
@media (max-width: 416px) {
    .playlists-group {
        width: 340px;
        justify-content: space-evenly;
    }
    .playlist-card {
        max-width: 120px;
        margin-left: 40px;
    }
    .playlist-card:nth-last-child(5) {
        margin-left: 480px;
    }
}
@media (max-width: 440px) {
    .controls .main i {
        font-size: 30px;
    }
    .music-player-section.active .controls span {
        font-size: 20px;
    }
    .music-player-section.active .controls .main {
        margin-right: 20px;
    }
    .volume-slider {
        right: -40px;
        bottom: 80px;
    }
    .music-player-section.active .controls span .uno {
        font-size: 5px;
        padding-top: 1px;
    }
}
@media (max-width: 366px) {
    .controls .main i {
        margin: 0;
    }
    .playlists-group {
        width: 248px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .playlist-card {
        max-width: 100px;
        margin-left: 20px;
    }
    .playlist-card:nth-last-child(5) {
        margin-left: 350px;
    }
    .playlist-card-img {
        height: 80px;
        border-radius: 10px;
    }
    .playlist-card-name {
        font-size: 15px;
    }
    .heading {
        font-size: 20px;
    }
}
@media (max-height: 600px) {
    .music-player-section.active .controls {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .music-player-section.active .music-seek-bar {
        margin-top: 20px;
    }
    .artist-name {
        margin: 5px 0;
    }
}
@media (max-width: 252px) {
    .controls .main i {
        font-size: 20px;
    }
    .music-player-section.active .controls span {
        font-size: 15px;
    }
    .music-player-section.active .controls .main {
        margin-right: 20px;
        padding-bottom: 14px;
    }
    .volume-slider {
        right: -42px;
        bottom: 70px;
    }
    .queve {
        padding: 0 10px;
    }
    .queve .name {
        font-size: 11px;
    }
}
